<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>

<body>
    {{> header}}
    <h2>{{screamIt welcomeMessage}}</h2>
    <h3>Project List : </h3>
    {{projectList}}
    {{> footer}}
</body>

</html>